.home-container {   
    max-width: 980px;
    margin-top: 20px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    width: 90%;
    border: 2px solid orange;
    flex-direction: column;
    text-align: center;

}
.home-title {
    color: black;
    text-align: center;
}
.title {
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 20px;
    
}

.currency { 
    color: black;
    font-weight: bold;
    margin-top: 40px;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
    align-items: center;
    display: flex;
    font-size: 35px;
    margin-bottom: 10px;
}